##ignore this file##
*.pyc
/conf/config.ini
/yaml/browser.yaml
/logs/*.log
/.idea/
/report/result.html
/TestCase/geckodriver.log
/report/*.html
/testcase/__pycache__/
/pages/__pycache__/
/report/__pycache__/
/report/runner/__pycache__/
/util/__pycache__/
/screenshots/*.png
/screenshots/*.jpg