##ignore this file##
*.pyc
/conf/config.ini
/logs/*.log
/.idea/
/report/result.html
/TestCase/geckodriver.log
/report/*.html
/yaml/browser.yaml
/TestCase/__pycache__/
/pages/__pycache__/
/report/__pycache__/
/report/runner/__pycache__/__init__.cpython-36.pyc
/util/__pycache__/
/report/runner/__pycache__/HTMLTestRunner3.cpython-36.pyc
/screenshots/*.png
/screenshots/*.jpg